store.kodario.com, www.store.kodario.com {

    encode gzip

    # frontend (statyczny build z Vite)
    root * /srv/frontend
    file_server

    # API → Django
    handle_path /api/* {
        reverse_proxy backend:8000
    }

    # fallback dla SPA (React Router)
    try_files {path} /index.html
}